<h2>Корзина</h2>
{% for item in products %}
    <div id="{{ item.id_basket }}">
        <img src="{{ IMG_PATH_MIN }}{{ item.img }}" alt="{{ item.name }}">
        <h4>{{ item.name }}</h4>
        <p>Описание: {{ item.description }}</p>
        <p>Цена:{{ item.price }}</p>
        <button data-id="{{ item.id_basket }}" class="delete">Удалить</button>
        <hr>
    </div>


{% endfor %}

<br>
<a href="/orders/createOrder/">Оформить заказ</a>

<script>
    let buttons = document.querySelectorAll('.delete');
    buttons.forEach((elem) => {
        elem.addEventListener('click', () => {
            let id = elem.getAttribute('data-id');
            (
                async () => {
                    const response = await fetch('/basket/removeFromBasket/', {
                        method: 'POST',
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        }),
                        body: JSON.stringify({
                            id: id
                        })
                    });
                    const answer = await response.json();
                    document.getElementById('count').innerText = answer.count;
                    document.getElementById(answer.id).remove();
                }
            )();
        })
    });
</script>