<img src="{{ IMG_PATH_MIN }}{{ product.img}}" alt="{{product.name}}">
<h2>{{ product.name}}</h2>
<p>{{ product.description}}</p>
<p>Цена: {{ product.price}}</p>

{#<a href="/basket/basketAdd/?id={{ product.id }}">В корзину</a>#}