<h2>Каталог</h2>
<!--TODO Реализовать TWIG-->
{% for item in catalog %}
<a href="/product/card/?id={{ item.id}}">
    <img src="{{ IMG_PATH_MIN }}{{ item.img }}" alt=""><br>
    <b>{{item.name}}</b><br>
    {{item.description}}<br> Цена:
    {{item.price}}<br>
    {% endfor %}
</a>
<br>