<h2>Оформление заказа</h2>
{% for item in products %}
    <div id="{{ item.id_basket }}">
        <img src="{{ IMG_PATH_MIN }}{{ item.img }}" alt="{{ item.name }}">
        <h4>{{ item.name }}</h4>
        <p>Описание: {{ item.description }}</p>
        <p>Цена:{{ item.price }}</p>
        <button data-id="{{ item.id_basket }}" class="delete">Удалить</button>
        <hr>
    </div>
{% endfor %}
<form action="/orders/createOrder/" method="post">
    <label for="email">Введите e-mail</label>
    <input type="email" name="email">
    <button class="orderIt">Подтвердить</button>
</form>

<script>
    let buttons = document.querySelectorAll('.orderIt');
        elem.addEventListener('click', () => {
            (
                async () => {
                    const response = await fetch('/orders/addToOrder/', {
                        method: 'POST',
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        }),
                        body: JSON.stringify({
                            email: email
                        })
                    });
                    const answer = await response.json();
                    document.getElementById('count').innerText = answer.count;
                }
            )();
        })

</script>
